.login-box {
    width: 320px;
    padding: 20px;
    margin: 0 auto;
}

.shopping-cart img {
    width: 40px;
    margin-left: 1110px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

input[type="submit"] {
    width: 100%;
    padding: 8px;
    background-color: #0099ff;
    color: #ffffff;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.login-bottom {
    padding-top: 370px;
    font-size: 18px;
    text-align: center;
}