.homepage-image {
display: flex; justify-content: center; align-items: center; height: 50vh; 
}
.homepage-image img {
    width: 65%; max-width: 100%; height: auto; 
}
.badge-bg-secondary {
    display: flex; justify-content: center; align-items: center; font-weight: bold; margin-bottom: 35px;
}
.card-container {
    display: table; width: 100%; table-layout: fixed;
}
.browse-button {
    background-color: white; position: absolute; bottom: 10px; left: 50%; transform: translatex(-50%); font-weight: 400;
}
.card {
    position: relative;
}
.home-bottom {
    font-size: xx-large; margin-top: 100px; float: left;
}