.shopping-cart img{
    width:40px;
    margin-left: 1110px;
}

.NewProducts {
    text-align: center;
    margin-top: 30px;
}

.form-control {
    margin-right: 10px;
}

.card-group {
    margin: 20px 0;
}

.card {
    margin: 20px;
    border: none;

    .card-img-top {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .card-title {
        font-size: 24px;
        font-weight: bold;
    }

    .addtocart {
        background-color: #0099ff;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .home-bottom ul {
        align-items: center;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .home-bottom li {
        margin-bottom: 10px;
    }